* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app {
    display: flex;
    min-height: 100vh;
}

.aside {
    width: 200px;
    padding: 30px 20px;
    background: rgba(69, 70, 71, 0.9);
}

.sub {
    width: calc(100% - 200px);
}

.header {
    width: 100%;
    padding: 20px 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.main {
    padding: 30px;
}

.button,
button {
    padding: 6px 12px;
    background: #000;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .15s;
    font-size: 16px;
    text-decoration: none;
}

button:hover,
.button:hover {
    background: #000000a2;
}

button:disabled,
.button:disabled {
    pointer-events: none;
    opacity: .6;
}

.swap-button {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-link {
    padding: 10px;
    display: block;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    background: teal;
    transition: .15s;
    font-size: 16px;
}

.nav-link:hover {
    background: rgb(1, 170, 170);
}

.nav-link.nav-link-active {
    background: #fff;
    color: #000;
}

.info {
    display: flex;
    gap: 16px;
}

.info-item {
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, .5) 0px 2px 8px 0px;
    gap: 12px;
}

.pools {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    gap: 16px;
}

.pools-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.pool {
    width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, .5) 0px 2px 8px 0px;
    gap: 12px;
}

.add-pool {
    margin-bottom: 30px;
}


.pool-name {
    text-align: center;
}

.pool-reserves {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.pool-controls {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.pool-controls button {
    width: 50%;
}

.pool-controls button:hover {
    opacity: .7;
}

.pool-controls button:disabled {
    opacity: .4;
    pointer-events: none;
}

.pool-controls button:nth-child(1) {
    background-color: rgb(1, 99, 1);
}

.pool-controls button:nth-child(2) {
    background-color: rgb(221, 0, 0);
}

.warn-button {
    background-color: rgb(221, 0, 0);
    pointer-events: none;
}

.coins {
    margin-top: 40px;
    color: #fff;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.modal:not(.active) {
    display: none;
}

.modal__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.modal__wrapper {
    width: 50vw;
    min-width: 320px;
    height: 70vh;
    min-height: 320px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
}

.modal__title {
    text-align: center;
    margin-bottom: 50px;
}

.modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.create-modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-pool {
    width: 100%;
    text-align: center;
}

.create-pool-form {
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.create-pool-label {
    display: flex;
    justify-content: space-between;
}

.create-pool-label select {
    width: 50%;
}

.stacking {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}

.stacking .warn {
    background-color: rgb(221, 0, 0);
}

.stacking .stack {
    background-color: rgb(1, 99, 1);
}